
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

a {
    color: rgb(24,176,100);
    text-decoration: none;
}

a:hover {
    color: #0056b3;
}

.container {
    width: 85%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background-color: rgb(24,176,100);
    color: #fff;
}

header h1 {
    margin: 0;
    padding-left: 30px; 
    color: #fff;
}


h2 {
    font-size: 24px;
    color: rgb(24, 176, 100); 
    margin-bottom: 20px; 
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(24, 176, 100, 0.5); 
    text-align: left; 
}

nav {
    display: flex;
}

nav a {
    padding: 10px 15px;
    margin: 0 10px;
    background-color: rgba(24,176,100, 0.8);
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
}

nav a:hover {
    background-color: rgba(24,176,100, 1);
    color: #ffffff;
}

main {
    margin-top: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="search"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="search"]:focus {
    border-color: #4A90E2;
    box-shadow: 0 0 8px rgba(74,144,226,0.5);
}

input::placeholder {
    color: #aaa;
    font-style: italic;
}

/* Button Styling for Consistency */
button,
input[type="submit"],
.buttons button {
    background-color: rgba(24,176,100, 0.8);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s;
}

button:hover,
input[type="submit"]:hover,
.buttons button:hover {
    background-color: rgba(24,176,100, 1);
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    background-color: #ffffff; 
    color: #333;
    border-top: 1px solid #eee; 
}

@media (max-width: 768px) {
    header, nav {
        flex-direction: column;
        text-align: center;
    }

    nav a {
        margin: 10px 0;
    }
}
