<!DOCTYPE html>
<html>
  <head>
    <title>CheckMate</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}?v={{ current_time }}">

  </head>
  <body>
    <div class="container">
      <header>
        <h1>Checkmate</h1>
    </header>
    <main>
    <form action="{{ url_for('authenticate') }}" method="post">
        <div class="input-group">
            <label>Username:</label>
            <input type="text" name="username" required>
        </div>
        <div class="input-group">
            <label>Password:</label>
            <input type="password" name="password" required>
        </div>
        <div class="buttons">
            <button type="submit">Login</button>
            <button type="button" onclick="window.location.href='/signup'">Signup</button>
        </div>
    </form>
</main>
    <footer>
        <p>
          &copy; 2024. Shared under the GPL3 license. Source code available at
          <a
            href="https://github.com/software-students-spring2024/2-web-app-exercise-bswe/"
            >available on Github</a
          >.
        </p>
      </footer>
    </div>
</body>
</html>