{% extends 'base.html' %}

{% block container %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Receipt</title>
</head>
<body>
    <h2>Add New Receipt</h2>
    <form action="/new_receipt" method="post">
        <label for="receipt_name">Receipt Name:</label><br>
        <input type="str" id="receipt_name" name="receipt_name" required><br>

        <label for="num_of_people">Number of People:</label><br>
        <input type="number" id="num_of_people" name="num_of_people" required><br>
        
        <label for="tax">Tax:</label><br>
        <input type="number" id="tax" name="tax" step="0.01" required><br>
        
        <label for="tip">Tip:</label><br>
        <input type="number" id="tip" name="tip" step="0.01" required><br>
        
        <label for="subtotal">Subtotal:</label><br>
        <input type="number" id="subtotal" name="subtotal" step="0.01" required><br>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>
{% endblock %}